In [3]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
#import visuals as vs # Supplementary code
#from sklearn.cross_validation import ShuffleSplit

# Pretty display for notebooks
%matplotlib inline

# Load the Boston housing dataset
data = pd.read_csv('housing.csv')

In [4]:
data.shape

(489, 4)

In [5]:
data.columns

Index(['RM', 'LSTAT', 'PTRATIO', 'MEDV'], dtype='object')

In [6]:
data.isnull().sum()

RM         0
LSTAT      0
PTRATIO    0
MEDV       0
dtype: int64

In [7]:
data.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [8]:
prices=data['MEDV']

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
RM         489 non-null float64
LSTAT      489 non-null float64
PTRATIO    489 non-null float64
MEDV       489 non-null float64
dtypes: float64(4)
memory usage: 15.4 KB

In [15]:
features=data.drop((['MEDV','RM']), axis=1)

In [16]:
features.shape

(489, 2)

In [17]:
features.describe()

            LSTAT     PTRATIO
count  489.000000  489.000000
mean    12.939632   18.516564
std      7.081990    2.111268
min      1.980000   12.600000
25%      7.370000   17.400000
50%     11.690000   19.100000
75%     17.120000   20.200000
max     37.970000   22.000000

In [18]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 2 columns):
LSTAT      489 non-null float64
PTRATIO    489 non-null float64
dtypes: float64(2)
memory usage: 7.7 KB

In [23]:
# TODO: Minimum price of the data
minimum_price = np.min(prices)
# Alternative using pandas
# minimum_price = prices.min()

# TODO: Maximum price of the data
maximum_price = np.max(prices)
# Alternative using pandas
# maximum_price = prices.max()

# TODO: Mean price of the data
mean_price = np.mean(prices)
# Alternative using pandas
# mean_price = prices.mean()

# TODO: Median price of the data
median_price = np.median(prices)
# Alternative using pandas
# median_price = prices.median()

# TODO: Standard deviation of prices of the data
std_price = np.std(prices)
# Alternative using pandas 
# std_price = prices.std(ddof=0)

# There are other statistics you can calculate too like quartiles
first_quartile = np.percentile(prices, 25)
third_quartile = np.percentile(prices, 75)
inter_quartile = third_quartile - first_quartile

# Show the calculated statistics
print ("Statistics for Boston housing dataset:")
print ("Minimum price: ${:,.2f}".format(minimum_price))
print "Maximum price: ${:,.2f}".format(maximum_price)
print "Mean price: ${:,.2f}".format(mean_price)
print "Median price ${:,.2f}".format(median_price)
print "Standard deviation of prices: ${:,.2f}".format(std_price)
print "First quartile of prices: ${:,.2f}".format(first_quartile)
print "Second quartile of prices: ${:,.2f}".format(third_quartile)
print "Interquartile (IQR) of prices: ${:,.2f}".format(inter_quartile)

Statistics for Boston housing dataset:
Minimum price: $105,000.00

In [ ]:
# Mini